<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--双击间隔设置(单位秒)-->
    <add key="doubleClickInterval" value="0.5"/>
    <!--是否自动发送(true|false)-->
    <add key="autoEnter" value="true"/>
  </appSettings>
</configuration>